body {
    padding: 0px;
    margin: 0px;
    font-family: "맑은 고딕", "Malgun Gothic";
}

ul, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.menu {
    clear: both;
    height: 100%;
    width: 200px;
    background-color: black;
    display: inline-block;
    color: white;
    position: fixed;
    /* display: none; */
}

.user {
    margin-top: 72px;
    display: inline-block;
    width: 160px;
    padding: 15px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.menu_content {
    margin-left: 10px;
    margin-top: 50px;
}

.menu_content li {
    margin-left: -40px;
    padding: 10px;
}

.nav {
    display: inline-block;
    background: none;
    position: fixed;
    width: 100%;
}

.header_content {
    display: inline-block;
    text-align: left;
    margin-left: 200px;
}

.nav:hover {
    background-color: black;
    border-bottom: 1px solid gray;
}

.main_title {
    display: inline-block;
    color: white;
    margin-left: 30px;
}

.nav_btn {
    /* display: inline-block; */
    float: right;
    margin: 10px 10px 0 0;
    background: none;
    border: none;
    color: white;
}

.nav_btn:hover {
    cursor: pointer;
}


#srch {
    float: right;
    margin: 15px 20px 0 0;
    border: 1px solid blue;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    background: none;
    color: gray;
    font-size: 1.5em;
    padding-left: 40px;
}

header > nav > input {
    display: none;
}

header > nav:hover > input {
    display: inline-block;
}

#srch::placeholder{
    font-size: 0.8em;
    color: gray;
}

.header_content img {
    width: 100%;
    min-width: 1600px;
}

.content {
    margin-bottom: 100px;
    margin-left: 200px;
}

footer {
    display: inline-block;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: rgb(41, 41, 41);
    padding: 10px;
    border-top: 2px solid rgb(131, 131, 131);
    color: white;
    padding-bottom: 20px;
}

.player_lcontrol {
    display: inline-block;
    width: 400px;
    vertical-align: top;
}

.info {
    display: flex;
    align-items: center;
}

.album_img {
    width: 50px;
    height: 50px;
    border: 1px solid;
}

.song_info {
    margin-left: 10px;
}

.artist {
    color: #474747;
    width: 100px;
    white-space: nowrap;
    word-break: break-all;
}

.player_icon {
    margin-left: 10px;
}

.player_control {
    display: inline-block;
    width: 50%;
    margin: 0px auto;
    text-align: center;
}

.play_list {
    position: absolute;
    right: 50px;
    bottom: 20px;
}

i {
    padding: 10px;
}

i:hover {
    cursor: pointer;
}